:root{
    --background: #101114;
    --primary-color: #1C1D20;
    --secondary-color: #4A4D57;
    --ternary-color: #2b2b31;
    --select-color: #383940;
    --accent-color: #00CFE0;
    --text-color: #F9F9F9;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI';
    font-size: 16pt;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: var(--accent-color);
}
.wrapper{
    width: 90%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.todo-wrapper{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret-color: var(--accent-color);
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;
}
#add-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}
.todo{
    margin-top: 10px;
    padding: 0 16px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}
.todo-description-window{
    border-width: 10px;
    border-color: var(--primary-color);
    border-radius: 0px 0px 15px 15px;
    padding-left: 10px;
    position: relative;
    display: inline-block;
    overflow:hidden;
    overflow-wrap: break-word;
    background-color: var(--ternary-color);
    padding: 3px;
    transition: opacity 200ms ease, transform 200ms ease;
}
.todo-description-window > h5{
    padding-left: 10px;
}
.todo-description{
    padding-left: 10px;
}
.todo-description:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(59,130,246); 
    border-radius: 0px 0px 15px 15px;
}
.todo-quantity{
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--secondary-color);
    font-size: 16pt;
    padding: 5px;
    margin-right: 5px;
    flex-grow: 0;
    transition: 200ms ease;
    cursor: text;
}
.todo .todo-text{
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    overflow:hidden;
    overflow-wrap: break-word;
}
.todo.dragging :where(.custom-checkbox, .todo-text, .dropdown){
    opacity: 0.5;
    transition: 0ms;
}
.quantity-buttons{
    margin-right: 5px;
    display: grid;
}
.quantity-buttons > .minus-one-button + .plus-one-button{
    grid-area: 1/1;
}
.minus-one-button, .plus-one-button{
    padding: 2px;
    background: none;
    background-color: var(--secondary-color);
    border: none;
    display: flex;
    flex-grow: 0;
    border-radius: .15rem;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
}
.minus-one-button svg, .plus-one-button svg{
    transition: 200ms ease;
}
.minus-one-button:hover, .plus-one-button:hover{
    transition: 200ms ease;
    background-color: var(--select-color);
    border-color: var(--primary-color);
}
.deadline{
    display:flex;
    flex-grow: 0;
    font-size: 14pt;
}
.deadline-date-input, .deadline-time-input{
    background: none;
    border: none;
    align-items: center;
    color: var(--text-color);
    color-scheme: dark;
    background-color: var(--primary-color);
    font-size: 14pt;
    padding: 5px;
    flex-grow: 0;
    transition: 200ms ease;
    cursor: text;
}
.deadlineToggle-button, .quantityToggle-button, .descriptionToggle-button, .edit-button, .delete-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    border-radius: .15rem;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    color: var(--text-color);
}
:is(.deadlineToggle-button, .quantityToggle-button, .descriptionToggle-button, .edit-button) svg{
    transition: 200ms ease;
}
:is(.deadlineToggle-button, .quantityToggle-button, .descriptionToggle-button, .edit-button):hover{
    transition: 200ms ease;
    background-color: var(--select-color);
    border-color: var(--primary-color);
}
.delete-button:hover svg{
    transition: 200ms ease;
    fill: #FF0033;
}
.delete-button:hover{
    transition: 200ms ease;
    background-color: var(--select-color);
    border-color: var(--primary-color);
    color: #FF0033;
}
.custom-checkbox{
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
    margin-right: 15px;
}
input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}
input[type="checkbox"]:checked ~ .quantity-buttons :is(.plus-one-button, .minus-one-button){
    background-color: var(--primary-color);    
    color: var(--primary-color);
}
input[type="checkbox"]:checked ~ .quantity-buttons :is(.plus-one-button, .minus-one-button) svg{
    fill: var(--secondary-color);
}
input[type="checkbox"]:checked ~ :is(.todo-text, .todo-quantity){
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
.todo-wrapper:has([type="checkbox"]:checked){
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]:checked ~ .deadline :is(.deadline-date-input, .deadline-time-input){
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
input[type="checkbox"] {
    display: none;
}
.dropdown{
    position: relative;   
}
.dropdown-button{
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.dropdown-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: calc(100% + .25rem);
    background-color: var(--secondary-color);
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    color: var(--accent-color);
    padding: 3px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 200ms ease, transform 200ms ease;
    z-index: 1;
}
.dropdown.active > .dropdown-button + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}